HH_API_BASE_URL=https://api.hh.ru/vacancies
DB_NAME=
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
# === hh.ru OAuth (для избежания 403) ===
CLIENT_ID=
CLIENT_SECRET=
# ACCESS_TOKEN можно оставить пустым — будем получать автоматически
ACCESS_TOKEN=